@model MotorcycleBusinessManagement.Models.Noidungchi

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Noidungchi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idndc" />
            <div class="form-group">
                <label asp-for="Idpc" class="control-label"></label>
                <select asp-for="Idpc" class="form-control" asp-items="ViewBag.Idpc"></select>
                <span asp-validation-for="Idpc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idct" class="control-label"></label>
                <select asp-for="Idct" class="form-control" asp-items="ViewBag.Idct"></select>
                <span asp-validation-for="Idct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sotienchi" class="control-label"></label>
                <input asp-for="Sotienchi" class="form-control" />
                <span asp-validation-for="Sotienchi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
